body{
    border:0px;
    padding: 0px;

}



/* 
.container{
    background: blue;
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    /* grid-template-columns: 300px 300px auto; */
    /* grid-template-columns: 1fr 2fr 3fr; */
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-auto-rows: 50px; 
    grid-template-rows: 1fr 2fr 3fr;
    grid-template-columns: minmax(100px, 1fr ) 1fr;

} 
*/

.container-general{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-areas: 'header header'
                         'aside main'
                         'footer footer';

    background-color: honeydew;
    grid-template-columns: 1fr 7fr;
    gap: 10px;

    
}
header{
    display: grid;
    grid-area: header;
    width: 100%;
    margin: auto;
    background-color: blue;
    color: white;
    justify-content: center;

}

aside{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    grid-area: aside;

    flex-direction: column;
    align-items: flex-start;
    min-height: 89vh;
}

.menu{
    padding: 5px;
}
.boxes_container{
    width: 100%;
    display: grid;
    grid-template-areas: 'box box box';
    grid-template-columns: '1fr 1fr 1fr';

}


.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

.box p{
    margin: 5px;
}

.box h6{
    margin: 5px;
}

.box img{
    width: 200px;
    height: 200px;
}

footer{
    display: grid;
    grid-area: footer;
    border: 1px solid black;
    background-color: blue;
    color: white;
    justify-content: center;
}

button{
    width: 100%;
    background-color: blue;
    color: white;
    height: 40px;
}
